body
{
	background-color: #7C4DFF;
	background-image: url("background.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    min-width: 250px;
    min-height: 320px; 
    border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
}



.cont-ents
{
	color: red;
	padding: 10px;
	background: blue;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}



.lesson
{
	background-color: blue;
	padding: 10px;
	border-radius: 30px;
	border-top: 3px groove yellow;
	text-decoration: none;
	color: red;
}
